{% extends index.html %}

{% block body %}
<div id="msg-box">
    {% if cache %}
        {{ cache }}
    {% end %}
</div>
<form action="" method="get">
    <input type="text" id="send-msg">
    <input id="sub-msg" type="submit">
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var ws = new WebSocket("ws://"+ location.host + "/ws");
        var msg_box = $('#msg-box');
        ws.onmessage = function (evt) {  // 接收消息
            // msg_box.append(evt.data);
            alert(evt.data);
        };
        $(function () {  // 发送消息
            var sub = $('#sub-msg');
            sub.click(function () {
                var msg = $('#send-msg').html();
                alert(msg)
                ws.send(msg)
            })
        })
    })


    // $(document).ready(function (event) {
    //     if(!window.console) window.console = {};
    //     if(!window.console.log) window.console.log = function () {};
    //     $('#sub-msg').on('submit', function () {
    //             newMessage($(this));
    //             return false
    //         });
    //     $('#sub-msg').on('keypress', function (e) {
    //         if (e.keyCode == 13){
    //             newMessage($(this));
    //             return false
    //         }
    //     });
    //     $('#message').select();
    //     updater.start();
    // });
    //
    // function newMessage(form) {
    //     var message = form.formToDict();
    //     alert(message)
    //     updater.socket.send(JSON.stringify(message));
    //     form.find("input[type=text]").val("").select();
    // }
    //
    // jQuery.fn.formToDict = function () {
    //     var fileds = this.serializeArray();
    //     var json = {};
    //     for (var i=0;i<fileds.length;i++){
    //         json[fileds[i].name] = fileds[i].value;
    //     }
    //     if (json.next) delete json.next;
    //     return json
    // };
    //
    // var updater = {
    //     socket: null,
    //     start: function () {
    //         var url="ws://" + location.host +"/ws";
    //         updater.socket = new WebSocket(url);
    //         // updater.socket.onmessage = function (event) {
    //         //     updater.showMessage(JSON.parse(event.data));
    //         // }
    //     },
    //     showMessage: function (message) {
    //         var existing = $("#" + message.id);
    //         if (existing.length>0)return;
    //         var node = $(message.html);
    //         $("#message").append(node)
    //     }
    // }

</script>
{% end %}